body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: #385a0e;
  text-align: center;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header h1 {
  color: white;
  font-size: 32px;
}

header img {
  border-radius: 170px;
  width: 240px;
  border: 20px solid #527506;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

main img {
  max-width: 100%;
}

.hero-bear {
  min-width: 800px;
}

h2 {
  font-size: 24px;
  color: #385a0e;
}

p {
  font-size: 16px;
  line-height: 2;
}

a {
  font-size: 16px;
  color: #f5f5f5;
}

header a:hover {
  padding: 8px 16px;
  background-color: #527506;
  color: #385a0e;
  border-radius: 16px;
}

.caption {
  font-size: 14px;
  color: grey;
  font-style: italic;
}

footer {
  padding: 16px 0px;
  text-align: center;
  background-color: #385a0e;
  color: #f5f5f5;
}

footer p {
  margin: 0;
}

footer a {
  color: #f5f5f5;
}

.flex-container img {
  border: 2px solid #fff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
  padding-top: 16px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
